.col-md-4.card-alumno.ng-scope {
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-top: 1em;
}

.card-alumno-interno {
  box-shadow: rgba(0, 109, 204, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  animation: alumno-card-laoder 2s;
}

@keyframes alumno-card-laoder {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.btn {
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.625rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 0.75rem;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: 1.667;
  --bs-btn-color: #7b809a;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11),
    0 2px 4px -1px rgba(0, 0, 0, 0.07);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.2rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: all 0.15s ease-in;
  margin-bottom: 1rem;
  letter-spacing: 0;
  text-transform: uppercase;
  background-size: 150%;
  background-position-x: 25%;
  position: relative;
  overflow: hidden;
  -webkit-appearance: none;
}

.btn-red {
  --bs-btn-color: #000;
  --bs-btn-bg: #e91e63;
  --bs-btn-border-color: #e91e63;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ec407a;
  --bs-btn-hover-border-color: #eb3573;
  --bs-btn-focus-shadow-rgb: 198, 26, 84;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ed4b82;
  --bs-btn-active-border-color: #eb3573;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #e91e63;
  --bs-btn-disabled-border-color: #e91e63;
}

.btn-primary,
.btn.bg-gradient-primary {
  box-shadow: 0 3px 3px 0 rgba(233, 30, 99, 0.15),
    0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.15);
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.bg-gradient-revisado {
  background-image: linear-gradient(195deg, #70e000 0%, #38b000 100%);
}

.btn-primary,
.btn.bg-gradient-primary {
  color: black;
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  background-color: #e91e63;
  border-color: none;
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.4),
    0 4px 23px 0 rgba(233, 30, 99, 0.15), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.btn-primary .btn.bg-outline-primary,
.btn.bg-gradient-primary .btn.bg-outline-primary {
  border: 1px solid #e91e63;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.show > .btn.bg-gradient-primary.dropdown-toggle {
  color: color-yiq(#e91e63);
  background-color: #e91e63;
}

.btn-primary.focus,
.btn-primary:focus,
.btn.bg-gradient-primary.focus,
.btn.bg-gradient-primary:focus {
  color: #fff;
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  color: #fff;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1a73e8;
  --bs-btn-border-color: #1a73e8;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1662c5;
  --bs-btn-hover-border-color: #155cba;
  --bs-btn-focus-shadow-rgb: 60, 136, 235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #155cba;
  --bs-btn-active-border-color: #1456ae;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1a73e8;
  --bs-btn-disabled-border-color: #1a73e8;
}

.btn-info,
.btn.bg-gradient-info {
  box-shadow: 0 3px 3px 0 rgba(26, 115, 232, 0.15),
    0 3px 1px -2px rgba(26, 115, 232, 0.2), 0 1px 5px 0 rgba(26, 115, 232, 0.15);
}

.btn-info:hover,
.btn.bg-gradient-info:hover {
  background-color: #1a73e8;
  border-color: #1a73e8;
  box-shadow: 0 14px 26px -12px rgba(26, 115, 232, 0.4),
    0 4px 23px 0 rgba(26, 115, 232, 0.15),
    0 8px 10px -5px rgba(26, 115, 232, 0.2);
}

.btn-info .btn.bg-outline-info,
.btn.bg-gradient-info .btn.bg-outline-info {
  border: 1px solid #1a73e8;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle,
.btn.bg-gradient-info:not(:disabled):not(.disabled).active,
.btn.bg-gradient-info:not(:disabled):not(.disabled):active,
.show > .btn.bg-gradient-info.dropdown-toggle {
  color: color-yiq(#1a73e8);
  background-color: #1a73e8;
}

.btn-info.focus,
.btn-info:focus,
.btn.bg-gradient-info.focus,
.btn.bg-gradient-info:focus {
  color: #fff;
}

.btn-info,
.btn.bg-gradient-info {
  color: #fff;
}

.btn-info:hover,
.btn.bg-gradient-info:hover {
  color: #fff;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease !important;
}

.modal {
  --bs-modal-zindex: 1050;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: rgba(0, 0, 0, 0.2);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: #dee2e6;
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: #dee2e6;
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
