<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <input id="id" style="display: none" value="elid" />

      <div class="col-md-4">
        <label class="labelBold">Nombre</label>
        <input
          class="form-control formControl"
          placeholder="Juan Perez"
          required
        />
      </div>

      <div class="col-md-4">
        <label class="labelBold">Correo</label>
        <input
          type="email"
          class="form-control formControl"
          placeholder="ejemplo@ejemplo.com"
          required
        />
      </div>

      <div class="col-md-4">
        <label class="labelBold">Contraseña</label>
        <input class="form-control formControl" placeholder="1234" />
      </div>

      <div class="col-md-12 text-center" style="margin-top: 2em">
        <div class="btn btn-primary">Guardar Cambios</div>
      </div>
    </div>
  </div>
</div>
