<!-- <p>pagination works!</p>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" ng-if="1 < pages.length || !autoHide">
      <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1, page-item }">
          <a class="page-link" tabindex="-1" aria-disabled="true" href=""
              ng-click="setCurrent(pagination.current - 1)">Anterior</a>
      </li>
      <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
          ng-class="{ page-item, active : pagination.current == pageNumber, disabled : pageNumber == '...'}">
          <a ng-if="pagination.current == pageNumber" class="page-link active" href=""
              ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
          <a ng-if="pagination.current != pageNumber" class="page-link" href="" ng-click="setCurrent(pageNumber)">{{
              pageNumber }}</a>
      </li>
      <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last, page-item }">
          <a class="page-link" href="" ng-click="setCurrent(pagination.current + 1)">Siguiente</a>
      </li>
  </ul>
</nav> -->
