<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Carga de Archivos SISSEMS</div>

        <div class="card-body row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="labelBold">Archivo:</label>
              <input
                class="form-control formControl"
                type="file"
                id="archivoSISSEMS"
                name="archivo"
                accept=".xlsx"
              />
            </div>
            <div class="col-md-12 text-right" style="margin-top: 1em">
              <button class="btn btn-primary" type="submit">Cargar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Carga de Archivos de Salud (EscolaresMX)</div>

        <div class="card-body row">
          <div class="col-md-12">
            <form class="form" enctype="multipart/form-data">
              <div class="form-group">
                <label class="labelBold">Archivo:</label>
                <input
                  class="form-control formControl"
                  type="file"
                  name="archivo"
                  accept=".json"
                />
              </div>
              <div class="col-md-12 text-right" style="margin-top: 1em">
                <button class="btn btn-primary" type="submit">Cargar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Carga de Archivos Extras (EscolaresMX)</div>
        <div class="card-body row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="labelBold">Archivo:</label>
              <input
                class="form-control formControl"
                type="file"
                id="archivoExtra"
                name="archivo"
                accept=".json"
              />
            </div>
            <div class="col-md-12 text-right" style="margin-top: 1em">
              <button class="btn btn-primary" type="submit">Cargar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
